# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
#
# Add this line if you want to avoid checking in the dependency files from Swift Package Manager.
#.build/
#
# Add this line if you want to avoid checking in the Swift Package Manager's checkout.
# Packages/
#
# Add this line if you want to avoid checking in the xcode project managed by Swift Package Manager.
# *.xcodeproj
#
# Swift Package Manager automatically generates the contents of .build and Packages when the package is resolved.
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# CocoaPods
#
# We recommend not adding the Pods directory to your .gitignore. However, if you prefer to do so,
# uncomment the following line.
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in the Carthage build directories.
# Carthage/Build/
# Carthage/Checkouts/

# fastlane
#
# It is recommended to not add the fastlane/report.xml, the fastlane/Preview.html,
# and fastlane/screenshots directory to your .gitignore.
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# Add this line if you want to avoid checking in the code injection tmp files.
# iOSInjectionProject/
